*,*::before, *::after {
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  overflow-x: hidden; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6em; }

.bold {
  font-weight: bold; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.uppercase {
  text-transform: uppercase; }

.hidden {
  display: none; }

.nospace {
  margin: 0;
  padding: 0;
  list-style: none; }

.inline * {
  display: inline-block; }

.inline *:last-child {
  margin-right: 0; }

.borderedbox {
  border: 1px solid; }

.bgded {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }

.overlay {
  display: block;
  width: 100%;
  height: auto; }

.capitalise {
  text-transform: capitalize; }

.services li > article {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 0 50px 0;
  padding: 20px 20px 20px 85px; }

.services li:last-child > article {
  margin-bottom: 0; }

.services li > article * {
  margin: 0;
  padding: 0; }

.services li > article i {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 26px; }

.services li > article .heading {
  margin-bottom: 10px; }

.services li > article footer {
  margin-top: 15px; }

.clear, .group {
  display: block; }

.clear::before, .clear::after, .group::before, .group::after {
  display: table;
  content: ""; }

.clear, .clear::after, .group, .group::after {
  clear: both; }

a {
  outline: none;
  text-decoration: none; }

.fl_left, .imgl {
  float: left; }

.fl_right, .imgr {
  float: right; }

img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle; }

.imgl {
  margin: 0 15px 10px 0;
  clear: left; }

.imgr {
  margin: 0 0 10px 15px;
  clear: right; }

body, input, textarea, select {
  font-family: Verdana, Geneva, sans-serif; }

h1, h2, h3, h4, h5, h6, .heading {
  font-family: Georgia, "Times New Roman", Times, serif; }

form, fieldset, legend {
  margin: 0;
  padding: 0;
  border: none; }

legend {
  display: none; }

label, input, textarea, select, button {
  display: block;
  resize: none;
  outline: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  vertical-align: middle; }

label {
  margin-bottom: 5px; }

h1, h2, h3, h4, h5, h6, .heading {
  margin: 0 0 20px 0;
  font-size: 22px;
  line-height: normal;
  font-weight: normal; }

.xl {
  font-size: 28px;
  line-height: normal; }

.xxl {
  font-size: 54px; }

.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word; }

#topbar, #header, #pageintro, #breadcrumb, .container, #info, #footer, #copyright {
  display: block;
  margin: 0 auto; }

/* Grid
--------------------------------------------------------------------------------------------------------------- */
.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter {
  display: inline-block;
  float: left;
  margin: 0 0 0 3.06748466257669%;
  list-style: none; }

.first {
  margin-left: 0;
  clear: left; }

.one_quarter {
  width: 22.69938650306748%; }

.one_third {
  width: 31.28834355828221%; }

.one_half, .two_quarter {
  width: 48.46625766871166%; }

.two_third {
  width: 65.6441717791411%; }

.three_quarter {
  width: 74.23312883435584%; }

/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar {
  padding: 12px 0;
  font-size: 12px; }
  #topbar .fl_left {
    margin-top: 4px; }
  #topbar .fl_left .inline > li {
    margin-right: 15px; }
  #topbar .fl_left .inline > li i {
    margin: 0 5px 0 0;
    line-height: normal; }
  #topbar .faico li {
    margin: 0; }

/* Header
--------------------------------------------------------------------------------------------------------------- */
#header {
  padding: 30px 0 20px; }
  #header h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase; }
  #header #logo h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase; }

/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container {
  padding: 80px 0; }

/* Content */
/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
.faico a, #mainav *, #backtotop, .services i, #info .services li, .overlay {
  transition: all .3s ease-in-out; }

/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol {
  margin: 0;
  padding: 0;
  list-style: none; }

#mainav, #breadcrumb, .sidebar nav {
  line-height: normal; }

#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li:first-child::before, #breadcrumb li a::after, .sidebar nav a::after {
  position: absolute;
  font-family: "FontAwesome";
  font-size: 10px;
  line-height: 10px; }

/* Top Navigation */
#mainav ul {
  text-transform: uppercase; }
#mainav ul ul {
  z-index: 9999;
  position: absolute;
  width: 160px;
  text-align: left;
  text-transform: none; }
#mainav ul ul ul {
  left: 160px;
  top: 0; }
#mainav li {
  display: inline-block;
  position: relative;
  margin: 0 18px 0 0;
  padding: 0; }
#mainav li:last-child {
  margin-right: 0; }
#mainav li li {
  width: 100%;
  margin: 0; }
#mainav li a {
  display: block;
  padding: 0 0 6px 0;
  border-bottom: 1px solid; }
#mainav li li a {
  border: solid;
  border-width: 0 0 1px 0; }
#mainav .drop {
  padding-left: 10px; }
#mainav li li a, #mainav #mainav li li .drop {
  display: block;
  margin: 0;
  padding: 10px 15px; }
#mainav .drop:after, #mainav #mainav li li .drop:after {
  content: "\f0d7"; }
#mainav .drop:after {
  top: 5px;
  left: 0; }
#mainav li li .drop:after {
  top: 15px;
  left: 5px; }
#mainav ul ul {
  visibility: hidden;
  opacity: 0; }
#mainav ul li:hover > ul {
  visibility: visible;
  opacity: 1; }
#mainav li a {
  color: inherit;
  border-color: transparent; }
#mainav .active a {
  border-color: #EE6D00; }
#mainav .active a, #mainav #mainav a:hover, #mainav #mainav li:hover > a {
  color: #EE6D00;
  background-color: inherit; }
#mainav li li a, #mainav #mainav .active li a {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6); }
#mainav li li:hover > a, #mainav #mainav .active .active > a {
  color: #FFFFFF;
  background-color: #FF8D2C; }
#mainav form select {
  border-color: #D7D7D7; }

/* Breadcrumb */
#breadcrumb {
  padding: 50px 0; }
  #breadcrumb ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  #breadcrumb li {
    display: inline-block;
    position: relative;
    margin: 0 6px 0 0;
    padding: 0;
    font-size: 12px; }
  #breadcrumb li:first-child {
    padding-left: 15px; }
  #breadcrumb li:first-child::before {
    top: 3px;
    left: 0;
    content: "\f015"; }
  #breadcrumb li:last-child {
    display: block;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 1.6rem; }
  #breadcrumb li a {
    position: relative;
    margin: 0;
    padding: 0 12px 0 0; }
  #breadcrumb li a::after {
    top: 3px;
    right: 0;
    content: "\f101"; }
  #breadcrumb li:last-child a {
    padding: 0; }
  #breadcrumb li:last-child a::after {
    display: none; }
  #breadcrumb a {
    color: #888888;
    background-color: inherit; }
  #breadcrumb li:last-child a {
    color: #FFFFFF; }

/* Sidebar Navigation */
.sidebar nav {
  display: block;
  width: 100%; }
.sidebar nav li {
  margin: 0 0 3px 0;
  padding: 0; }
.sidebar nav a {
  display: block;
  position: relative;
  margin: 0;
  padding: 5px 10px 5px 15px;
  text-decoration: none;
  border: solid;
  border-width: 0 0 1px 0; }
.sidebar nav a::after {
  top: 9px;
  left: 5px;
  content: "\f101"; }
.sidebar nav ul ul a {
  padding-left: 35px; }
.sidebar nav ul ul a::after {
  left: 25px; }
.sidebar nav ul ul ul a {
  padding-left: 55px; }

/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery {
  display: block;
  width: 100%;
  margin-bottom: 50px; }
  #gallery figure figcaption {
    display: block;
    width: 100%;
    clear: both; }
  #gallery li {
    margin-bottom: 30px; }

/* Rows */
.row0, .row0 a {
  color: #888888;
  background-color: #FFFFFF; }

.row0 {
  border-color: #D7D7D7; }

.row1, .row1 a {
  color: #888888;
  background-color: #FFFFFF; }

.row2 {
  color: #FFFFFF;
  background-color: #161616; }

.row3 {
  color: #888888;
  background-color: #FFFFFF; }

.row3 a {
  color: #EE6D00; }

/* Darker Orange */
.row4 {
  color: #FFFFFF;
  background-color: #FF8D2C; }

.row4 a {
  color: #9D4700; }

/* Darker Orange */
.row5 {
  color: #888888;
  background-color: #161616; }

.row6, .row6 a {
  color: #888888;
  background-color: #2F2F2F; }

.container .sidebar nav a {
  color: inherit;
  border-color: #D7D7D7; }

.container .sidebar nav a:hover {
  color: #FF8D2C; }

.pagination a, .pagination strong {
  border-color: #D7D7D7; }

.pagination .current * {
  color: #FFFFFF;
  background-color: #FF8D2C; }

#backtotop {
  color: #FFFFFF;
  background-color: #EE6D00; }

/* Tables + Comments */
#comments input, #comments textarea, #comments select {
  border-color: #D7D7D7; }
#comments li, #comments input[type="submit"], #comments input[type="reset"] {
  color: inherit;
  background-color: #FBFBFB; }
#comments li:nth-child(even) {
  color: inherit;
  background-color: #F7F7F7; }
#comments a {
  background-color: inherit; }
#comments ul {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none; }
#comments li {
  margin: 0 0 10px 0;
  padding: 15px; }
#comments .avatar {
  float: right;
  margin: 0 0 10px 10px;
  padding: 3px;
  border: 1px solid; }
#comments address {
  font-weight: bold; }
#comments time {
  font-size: smaller; }
#comments .comcont {
  display: block;
  margin: 0;
  padding: 0; }
#comments .comcont p {
  margin: 10px 5px 10px 0;
  padding: 0; }
#comments form {
  display: block;
  width: 100%; }
#comments input, #comments textarea, #comments select {
  width: 100%;
  padding: 10px;
  border: 1px solid; }
#comments textarea {
  overflow: auto; }
#comments div {
  margin-bottom: 15px; }
#comments input[type="submit"], #comments input[type="reset"] {
  display: inline-block;
  width: auto;
  min-width: 150px;
  margin: 0;
  padding: 8px 5px;
  cursor: pointer; }

/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport {
  width: device-width; }
/* Smartphone + Tablet
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 180px) and (max-width: 750px) {
  .imgl, .imgr {
    display: inline-block;
    float: none;
    margin: 0 0 10px 0; }

  .fl_left, .fl_right {
    display: block;
    float: none; }

  .one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter {
    display: block;
    float: none;
    width: auto;
    margin: 0 0 30px 0;
    padding: 0; }

  .last {
    margin-bottom: 0; }

  #topbar {
    text-align: center; }

  #topbar .inline {
    margin-bottom: 15px; }

  #topbar .faico li {
    float: none; }

  #header #logo {
    text-align: center;
    margin-bottom: 15px; }

  #pageintro {
    padding: 140px 0 50px; }

  .container {
    padding-bottom: 50px; }

  #info {
    padding-bottom: 50px; }

  #footer {
    padding-bottom: 20px; } }
@media screen and (min-width: 180px) and (max-width: 900px) {
  #topbar, #header, #pageintro, #breadcrumb, .container, #info, #footer, #copyright {
    max-width: 90%; }

  #mainav ul {
    display: none; }

  #mainav form {
    display: block; }

  #comments input[type="reset"] {
    margin-top: 10px; }

  .pagination li {
    display: inline-block;
    margin: 0 5px 5px 0; }

  #copyright p:first-of-type {
    margin-bottom: 10px; } }
/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 978px) {
  #topbar, #header, #pageintro, #breadcrumb, .container, #info, #footer, #copyright {
    max-width: 978px; } }
/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 650px) {
  .scrollable {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 0 15px 0;
    overflow: auto;
    overflow-x: scroll; }

  .scrollable table {
    margin: 0;
    padding: 0;
    white-space: nowrap; }

  .xxl {
    font-size: 40px; } }

/*# sourceMappingURL=styles.css.map */
